/**
 * Autor: Andre Sieverding
 * Copyright © 2019
 */

<!doctype html>
html lang="en"
    head
        meta charset="utf-8"
        title -- ${out.global.title}
        link rel="stylesheet" href=`${out.global.path}/assets/css/style.css` type="text/css"
    body
        app
        script type="text/javascript" src=`${out.global.path}/assets/js/bundle.js` language="javascript"
        browser-refresh
