/**
 * Autor: Andre Sieverding
 * Copyright © 2019
 */

lasso-page package-path="./browser.json"

<!doctype html>
html lang="en"
    head
        meta charset="utf-8"
        title -- App
        lasso-head
    body
        app
        lasso-body
        browser-refresh
