class {
	onCreate () {
		this.state = {
			count: 0
		}
	}

	increment () {
		this.state.count++
	}
}

style {
	.count {
		color: #ff9500;
		font-size: 3em;
	}
}

div.count
	lang var="cats" value=`${state.count}` plural=true

button.btn.btn-primary on-click('increment')
	-- <lang var="Click me!" /> <octicon name="rocket"></octicon>
