import '../../scripts/i18n'

if(input.plural === true)
	-- ${i18n.__n(input.var, input.value)}
else
	if(typeof input.value !== 'undefined')
		if(Array.isArray(input.value))
			-- ${i18n.__(input.var, ...input.value)}
		else
			-- ${i18n.__(input.var, input.value)}
	else
		-- ${i18n.__(input.var)}
