/**
 * Autor: Andre Sieverding
 * Copyright © 2019
 */

style.sass {
    @import 'style/style.scss';
}

<!doctype html>
html lang="en"
    head
        meta charset="utf-8"
        title -- ${out.global.title}
        meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    body
        app
